.container {
    padding: 16px;
    padding-left: 35px;
}
.custom-form {
    padding: 6px;
}
.custom-form>input {
    padding: 3px;
}
.rs-table table {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.mat-form-field-wrapper {
    width: 255px;
}